*{
    margin: 0;
    padding: 0;
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
header
{
    background-color:white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(240, 233, 233);
}
/*logo*/
.myntra_home
{
    height: 45px;
}
.logo
{
    margin-left: 4%;
}
/*category*/
.category 
{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.category a
{
    font-size: 14px;
    text-decoration: none;
    color: #282C3F;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 28px 0;
    border-bottom: 5px solid white;
}
.category a:hover 
{
    border-bottom: 4px solid #f54e77;
}
.category a sup
{
    font-size: 10px;
    color: #FF3F6C;
}
/*search*/
.search
{
    height: 40px;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items: center;
}
/*search bar*/
.search_bar{
    background-color: #F5F5F6;
    border: 2px solid #F5F5F6;
    flex-grow: 1;
    height: 40px;
    font-weight: 300;
     border-radius: 0 4px 4px 0;
    
}
/*search icon*/
.search_icon{
    box-sizing: content-box;
    height: 21px;
    background-color: #F5F5F6;
    padding: 10px;
    border-radius: 4px 0 0 4px;
}
/*profile shopping**/
.action_bar
{
    margin: 2%;
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*main poster*/
.banner
{
    margin: 40px 0;
}
.banner_img
{
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 30px;
}
.category_heading{
    padding-left: 7px;
    color: #3e4152;
    margin: 50px 0 10px 30px;
    text-transform: uppercase;
    letter-spacing: .15em;
    max-height: 5em;
    font-size: 1.8em;
    font-weight: 700;
}
/*.stars{
    max-width: 100%;
    height: 400px;
    width: 177;
   margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    padding-top: 20px; 
}*/
.deals
{
    width: 100%;
    padding: 20px;
}
/*category items*/
.category_items
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 50px;
}
.sales
{
    width: 250px;
}
/*footer*/
.footer_container
{
    background: #FAFBFC;
     padding: 30px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly;
}
.footer_column 
{
    display: flex;
    flex-direction: column;
}
.footer_column h3 
{
    color: #282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.footer_column a 
{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.copyright 
{
    color: #94969f;
    text-align: end;
    padding: 15px;
}